In [1]:
print("Hello world")

Hello world

Python Reserved Words

The following list shows the Python keywords. These are reserved words and you cannot use them as constant or variable or any other identifier names. All the Python keywords contain lowercase letters only.

and 	as 	assert

break 	class 	continue

def 	del 	elif

else 	except 	False

finally 	for 	from

global 	if 	import

in 	is 	lambda

None 	nonlocal 	not

or 	pass 	raise

return 	True 	try

while 	with 	yield

Python Lines and Indentation

Python programming provides no braces to indicate blocks of code for class and function definitions or flow control. Blocks of code are denoted by line indentation, which is rigidly enforced.

The number of spaces in the indentation is variable, but all statements within the block must be indented the same amount. For example

In [3]:
if True:
   print ("True")

else:
   print ("False")

True

In [7]:
def stu():
    name = "rajesh"
    print(name)

    fname = "raesh"
    print(fname)
    for i in range(5):
        print(i)

stu()

rajesh
raesh
0
1
2
3
4

Python Multi-Line Statements

Statements in Python typically end with a new line. Python does, however, allow the use of the line continuation character (\) to denote that the line should continue. For example −

In [ ]:
total = item_one + \
        item_two + \
        item_three

In [ ]:
days = ['Monday', 'Tuesday', 'Wednesday',
        'Thursday', 'Friday']

In [81]:
import math

In [82]:
dir(math)

['__doc__',
 '__loader__',
 '__name__',
 '__package__',
 '__spec__',
 'acos',
 'acosh',
 'asin',
 'asinh',
 'atan',
 'atan2',
 'atanh',
 'cbrt',
 'ceil',
 'comb',
 'copysign',
 'cos',
 'cosh',
 'degrees',
 'dist',
 'e',
 'erf',
 'erfc',
 'exp',
 'exp2',
 'expm1',
 'fabs',
 'factorial',
 'floor',
 'fmod',
 'frexp',
 'fsum',
 'gamma',
 'gcd',
 'hypot',
 'inf',
 'isclose',
 'isfinite',
 'isinf',
 'isnan',
 'isqrt',
 'lcm',
 'ldexp',
 'lgamma',
 'log',
 'log10',
 'log1p',
 'log2',
 'modf',
 'nan',
 'nextafter',
 'perm',
 'pi',
 'pow',
 'prod',
 'radians',
 'remainder',
 'sin',
 'sinh',
 'sqrt',
 'tan',
 'tanh',
 'tau',
 'trunc',
 'ulp']

In [83]:
help(math)

Help on built-in module math:

NAME
    math

DESCRIPTION
    This module provides access to the mathematical functions
    defined by the C standard.

FUNCTIONS
    acos(x, /)
        Return the arc cosine (measured in radians) of x.

        The result is between 0 and pi.

    acosh(x, /)
        Return the inverse hyperbolic cosine of x.

    asin(x, /)
        Return the arc sine (measured in radians) of x.

        The result is between -pi/2 and pi/2.

    asinh(x, /)
        Return the inverse hyperbolic sine of x.

    atan(x, /)
        Return the arc tangent (measured in radians) of x.

        The result is between -pi/2 and pi/2.

    atan2(y, x, /)
        Return the arc tangent (measured in radians) of y/x.

        Unlike atan(y/x), the signs of both x and y are considered.

    atanh(x, /)
        Return the inverse hyperbolic tangent of x.

    cbrt(x, /)
        Return the cube root of x.

    ceil(x, /)
        Return the ceiling of x as an Integral.

        This is the smallest integer >= x.

    comb(n, k, /)
        Number of ways to choose k items from n items without repetition and without order.

        Evaluates to n! / (k! * (n - k)!) when k <= n and evaluates
        to zero when k > n.

        Also called the binomial coefficient because it is equivalent
        to the coefficient of k-th term in polynomial expansion of the
        expression (1 + x)**n.

        Raises TypeError if either of the arguments are not integers.
        Raises ValueError if either of the arguments are negative.

    copysign(x, y, /)
        Return a float with the magnitude (absolute value) of x but the sign of y.

        On platforms that support signed zeros, copysign(1.0, -0.0)
        returns -1.0.

    cos(x, /)
        Return the cosine of x (measured in radians).

    cosh(x, /)
        Return the hyperbolic cosine of x.

    degrees(x, /)
        Convert angle x from radians to degrees.

    dist(p, q, /)
        Return the Euclidean distance between two points p and q.

        The points should be specified as sequences (or iterables) of
        coordinates.  Both inputs must have the same dimension.

        Roughly equivalent to:
            sqrt(sum((px - qx) ** 2.0 for px, qx in zip(p, q)))

    erf(x, /)
        Error function at x.

    erfc(x, /)
        Complementary error function at x.

    exp(x, /)
        Return e raised to the power of x.

    exp2(x, /)
        Return 2 raised to the power of x.

    expm1(x, /)
        Return exp(x)-1.

        This function avoids the loss of precision involved in the direct evaluation of exp(x)-1 for small x.

    fabs(x, /)
        Return the absolute value of the float x.

    factorial(n, /)
        Find n!.

        Raise a ValueError if x is negative or non-integral.

    floor(x, /)
        Return the floor of x as an Integral.

        This is the largest integer <= x.

    fmod(x, y, /)
        Return fmod(x, y), according to platform C.

        x % y may differ.

    frexp(x, /)
        Return the mantissa and exponent of x, as pair (m, e).

        m is a float and e is an int, such that x = m * 2.**e.
        If x is 0, m and e are both 0.  Else 0.5 <= abs(m) < 1.0.

    fsum(seq, /)
        Return an accurate floating point sum of values in the iterable seq.

        Assumes IEEE-754 floating point arithmetic.

    gamma(x, /)
        Gamma function at x.

    gcd(*integers)
        Greatest Common Divisor.

    hypot(...)
        hypot(*coordinates) -> value

        Multidimensional Euclidean distance from the origin to a point.

        Roughly equivalent to:
            sqrt(sum(x**2 for x in coordinates))

        For a two dimensional point (x, y), gives the hypotenuse
        using the Pythagorean theorem:  sqrt(x*x + y*y).

        For example, the hypotenuse of a 3/4/5 right triangle is:

            >>> hypot(3.0, 4.0)
            5.0

    isclose(a, b, *, rel_tol=1e-09, abs_tol=0.0)
        Determine whether two floating point numbers are close in value.

          rel_tol
            maximum difference for being considered "close", relative to the
            magnitude of the input values
          abs_tol
            maximum difference for being considered "close", regardless of the
            magnitude of the input values

        Return True if a is close in value to b, and False otherwise.

        For the values to be considered close, the difference between them
        must be smaller than at least one of the tolerances.

        -inf, inf and NaN behave similarly to the IEEE 754 Standard.  That
        is, NaN is not close to anything, even itself.  inf and -inf are
        only close to themselves.

    isfinite(x, /)
        Return True if x is neither an infinity nor a NaN, and False otherwise.

    isinf(x, /)
        Return True if x is a positive or negative infinity, and False otherwise.

    isnan(x, /)
        Return True if x is a NaN (not a number), and False otherwise.

    isqrt(n, /)
        Return the integer part of the square root of the input.

    lcm(*integers)
        Least Common Multiple.

    ldexp(x, i, /)
        Return x * (2**i).

        This is essentially the inverse of frexp().

    lgamma(x, /)
        Natural logarithm of absolute value of Gamma function at x.

    log(...)
        log(x, [base=math.e])
        Return the logarithm of x to the given base.

        If the base not specified, returns the natural logarithm (base e) of x.

    log10(x, /)
        Return the base 10 logarithm of x.

    log1p(x, /)
        Return the natural logarithm of 1+x (base e).

        The result is computed in a way which is accurate for x near zero.

    log2(x, /)
        Return the base 2 logarithm of x.

    modf(x, /)
        Return the fractional and integer parts of x.

        Both results carry the sign of x and are floats.

    nextafter(x, y, /)
        Return the next floating-point value after x towards y.

    perm(n, k=None, /)
        Number of ways to choose k items from n items without repetition and with order.

        Evaluates to n! / (n - k)! when k <= n and evaluates
        to zero when k > n.

        If k is not specified or is None, then k defaults to n
        and the function returns n!.

        Raises TypeError if either of the arguments are not integers.
        Raises ValueError if either of the arguments are negative.

    pow(x, y, /)
        Return x**y (x to the power of y).

    prod(iterable, /, *, start=1)
        Calculate the product of all the elements in the input iterable.

        The default start value for the product is 1.

        When the iterable is empty, return the start value.  This function is
        intended specifically for use with numeric values and may reject
        non-numeric types.

    radians(x, /)
        Convert angle x from degrees to radians.

    remainder(x, y, /)
        Difference between x and the closest integer multiple of y.

        Return x - n*y where n*y is the closest integer multiple of y.
        In the case where x is exactly halfway between two multiples of
        y, the nearest even value of n is used. The result is always exact.

    sin(x, /)
        Return the sine of x (measured in radians).

    sinh(x, /)
        Return the hyperbolic sine of x.

    sqrt(x, /)
        Return the square root of x.

    tan(x, /)
        Return the tangent of x (measured in radians).

    tanh(x, /)
        Return the hyperbolic tangent of x.

    trunc(x, /)
        Truncates the Real x to the nearest Integral toward 0.

        Uses the __trunc__ magic method.

    ulp(x, /)
        Return the value of the least significant bit of the float x.

DATA
    e = 2.718281828459045
    inf = inf
    nan = nan
    pi = 3.141592653589793
    tau = 6.283185307179586

FILE
    (built-in)

In [84]:
help(math.lcm)

Help on built-in function lcm in module math:

lcm(*integers)
    Least Common Multiple.

In [86]:
math.lcm(24, 45, 78, 80)

9360

Quotations in Python

Python accepts single ('), double (") and triple (''' or """) quotes to denote string literals, as long as the same type of quote starts and ends the string.

The triple quotes are used to span the string across multiple lines. For example, all the following are legal −

In [87]:
word = 'word'
print (word)

sentence = "This is a sentence."
print (sentence)

paragraph = """This is a paragraph. It is
 made up of multiple lines and sentences."""
print (paragraph)

word
This is a sentence.
This is a paragraph. It is
 made up of multiple lines and sentences.

In [92]:
a = 'ram'
b = 'kavin'
c = a+b
print(c)
c = 3
z = str(c)
d = a+z
print(d)
print(a*c)

ramkavin
ram3
ramramram

Comments in Python

A comment is a programmer-readable explanation or annotation in the Python source code. They are added with the purpose of making the source code easier for humans to understand, and are ignored by Python interpreter

Just like most modern languages, Python supports single-line (or end-of-line) and multi-line (block) comments. Python comments are very much similar to the comments available in PHP, BASH and Perl Programming languages.

A hash sign (#) that is not inside a string literal begins a comment. All characters after the # and up to the end of the physical line are part of the comment and the Python interpreter ignores them.

In [4]:
print ("Hello, World!") # Second comment

Hello, World!

variables

In [9]:
a = 10
b = 1.5
c = 10j
d = 'hai'
print(a,type(a), id(a))
print(b,type(b), id(b))
print(c,type(c), id(c))
print(d, type(d), id(d))
e = 10
print(e, type(e), id(e)) # python stores the values  by reference

10 <class 'int'> 140711087957064
1.5 <class 'float'> 1606807088144
10j <class 'complex'> 1606813007120
hai <class 'str'> 1606807590320
10 <class 'int'> 140711087957064

Naming Convention

Name of the variable is user specified, and is formed by following the rules of forming an identifier.

    Name of Python variable should start with either an alphabet (lower or upper case) or underscore (_). More than one alpha-numeric characters or underscores may follow.

    Use of any keyword as Python variable is not allowed, as keywords have a predefined meaning.

    Name of a variable in Python is case sensitive. As a result, age and Age cannot be used interchangeably.

    You should choose the name of variable that is mnemonic, such that it indicates the purpose. It should not be very short, but not vary lengthy either.

If the name of variable contains multiple words, we should use these naming patterns −

    Camel case − First letter is a lowercase, but first letter of each subsequent word is in uppercase. For example: kmPerHour, pricePerLitre

    Pascal case − First letter of each word is in uppercase. For example: KmPerHour, PricePerLitre

    Snake case − Use single underscore (_) character to separate words. For example: km_per_hour, price_per_litre

Multiple Assignments

In Python, you can initialize more than one variables in a single statement. In the following case, three variables have same value.

In [10]:
a = b = c = 10
print(a,b,c, type(a), type(b), type(c), id(a), id(b), id(c))

10 10 10 <class 'int'> <class 'int'> <class 'int'> 140711087957064 140711087957064 140711087957064

In [93]:
a, b, c = 10, 15, 50
print(a,b,c, type(a), type(b), type(c), id(a), id(b), id(c))

10 15 50 <class 'int'> <class 'int'> <class 'int'> 140711087957064 140711087957224 140711087958344

List in Python

In Python, List is an ordered collection of any type of data items. Data items are separated by comma (,) symbol and enclosed in square brackets ([]). A list is also a sequence, hence.

In [94]:
a = [1, 2, 34.45, 5j, 'ram']
print(a, type(a), id(d))

for i in a:
    print(i)

[1, 2, 34.45, 5j, 'ram'] <class 'list'> 1606813776688
1
2
34.45
5j
ram

Tuples in Python

In Python, a Tuple is an ordered collection of any type of data items. Data items are separated by comma (,) symbol and enclosed in parentheses or round brackets (). A tuple is also a sequence, hence each item in the tuple has an index referring to its position in the collection. The index starts from 0.

In [13]:
a = (1, 2, 34.45, 5j, 'ram')
print(a, type(a), id(d))

for i in a:
    print(i)

(1, 2, 34.45, 5j, 'ram') <class 'tuple'> 1606807590320
1
2
34.45
5j
ram

Dictionary Type

Python's dictionary is example of mapping type. A mapping object 'maps' value of one object with another. In a language dictionary we have pairs of word and corresponding meaning. Two parts of pair are key (word) and value (meaning). Similarly, Python dictionary is also a collection of key:value pairs. The pairs are separated by comma and put inside curly brackets {}. To establish mapping between key and value, the semicolon':' symbol is put between the two.

In [15]:
a = {1:'one', 2:'two', 3:'three'}
print(a, type(a), id(d))

for i in a:
    print(i, a[i])

{1: 'one', 2: 'two', 3: 'three'} <class 'dict'> 1606807590320
1 one
2 two
3 three

Set Type

Set is a Python implementation of set as defined in Mathematics. A set in Python is a collection, but is not an indexed or ordered collection as string, list or tuple. An object cannot appear more than once in a set, whereas in List and Tuple, same object can appear more than once.

Comma separated items in a set are put inside curly brackets or braces. Items in the set collection may be of different data types.

In [17]:
a = {2023, "Python", 3.11, 5+6j, 1.23E-4, "Python"}
b = {(5+6j), 3.11, 0.000123, 'Python', 2023}

In [18]:
print(a,b,  type(a),type(b) ,id(a), id(b))

{(5+6j), 3.11, 0.000123, 2023, 'Python'} {(5+6j), 3.11, 0.000123, 2023, 'Python'} <class 'set'> <class 'set'> 1606807436224 1606813272096

list to tuple

In [95]:
a = [45,3.6, "Python", 45, 36, 3.6, 'python', "Python"]
b = tuple(a)
c = set(a)
print(a, b, c)
#converting set to list and tuple
d = list(c)
e = list(b)
#converting tuple to set and list
f = tuple(c)
g = tuple(a)

[45, 3.6, 'Python', 45, 36, 3.6, 'python', 'Python'] (45, 3.6, 'Python', 45, 36, 3.6, 'python', 'Python') {3.6, 36, 45, 'python', 'Python'}

In [29]:
print(a,b,c , type(a),type(b), type(c) ,id(a), id(b)), id(c)

[45, 3.6, 'Python', 45, 36, 3.6, 'python', 'Python'] (45, 3.6, 'Python', 45, 36, 3.6, 'python', 'Python') {3.6, 36, 45, 'python', 'Python'} <class 'list'> <class 'tuple'> <class 'set'> 1606813651328 1606813620928

(None, 1606813272544)

In [30]:
print(d, e, id(d), id(e), type(d), type(e))

[3.6, 36, 45, 'python', 'Python'] [45, 3.6, 'Python', 45, 36, 3.6, 'python', 'Python'] 1606813539264 1606807590336 <class 'list'> <class 'list'>

In [33]:
print(f,g, type(f), type(g), id(f), id(g))

(3.6, 36, 45, 'python', 'Python') (45, 3.6, 'Python', 45, 36, 3.6, 'python', 'Python') <class 'tuple'> <class 'tuple'> 1606813291184 1606813620928

Python type casting


implicit and explicit.

In [34]:
a = 10
print(a, type(a), id(a))
a = 10.0
print(a, type(a), id(a))

10 <class 'int'> 140711087957064
10.0 <class 'float'> 1606807088464

In [35]:
a, b = 15, 2
print(a,b,type(a), type(b), id(a), id(b))

15 2 <class 'int'> <class 'int'> 140711087957224 140711087956808

In [36]:
a = a/b
print(a,b,type(a), type(b), id(a), id(b))

7.5 2 <class 'float'> <class 'int'> 1606807086416 140711087956808

In [37]:
import math

In [39]:
dir(math)

['__doc__',
 '__loader__',
 '__name__',
 '__package__',
 '__spec__',
 'acos',
 'acosh',
 'asin',
 'asinh',
 'atan',
 'atan2',
 'atanh',
 'cbrt',
 'ceil',
 'comb',
 'copysign',
 'cos',
 'cosh',
 'degrees',
 'dist',
 'e',
 'erf',
 'erfc',
 'exp',
 'exp2',
 'expm1',
 'fabs',
 'factorial',
 'floor',
 'fmod',
 'frexp',
 'fsum',
 'gamma',
 'gcd',
 'hypot',
 'inf',
 'isclose',
 'isfinite',
 'isinf',
 'isnan',
 'isqrt',
 'lcm',
 'ldexp',
 'lgamma',
 'log',
 'log10',
 'log1p',
 'log2',
 'modf',
 'nan',
 'nextafter',
 'perm',
 'pi',
 'pow',
 'prod',
 'radians',
 'remainder',
 'sin',
 'sinh',
 'sqrt',
 'tan',
 'tanh',
 'tau',
 'trunc',
 'ulp']

In [40]:
help(math)

Help on built-in module math:

NAME
    math

DESCRIPTION
    This module provides access to the mathematical functions
    defined by the C standard.

FUNCTIONS
    acos(x, /)
        Return the arc cosine (measured in radians) of x.

        The result is between 0 and pi.

    acosh(x, /)
        Return the inverse hyperbolic cosine of x.

    asin(x, /)
        Return the arc sine (measured in radians) of x.

        The result is between -pi/2 and pi/2.

    asinh(x, /)
        Return the inverse hyperbolic sine of x.

    atan(x, /)
        Return the arc tangent (measured in radians) of x.

        The result is between -pi/2 and pi/2.

    atan2(y, x, /)
        Return the arc tangent (measured in radians) of y/x.

        Unlike atan(y/x), the signs of both x and y are considered.

    atanh(x, /)
        Return the inverse hyperbolic tangent of x.

    cbrt(x, /)
        Return the cube root of x.

    ceil(x, /)
        Return the ceiling of x as an Integral.

        This is the smallest integer >= x.

    comb(n, k, /)
        Number of ways to choose k items from n items without repetition and without order.

        Evaluates to n! / (k! * (n - k)!) when k <= n and evaluates
        to zero when k > n.

        Also called the binomial coefficient because it is equivalent
        to the coefficient of k-th term in polynomial expansion of the
        expression (1 + x)**n.

        Raises TypeError if either of the arguments are not integers.
        Raises ValueError if either of the arguments are negative.

    copysign(x, y, /)
        Return a float with the magnitude (absolute value) of x but the sign of y.

        On platforms that support signed zeros, copysign(1.0, -0.0)
        returns -1.0.

    cos(x, /)
        Return the cosine of x (measured in radians).

    cosh(x, /)
        Return the hyperbolic cosine of x.

    degrees(x, /)
        Convert angle x from radians to degrees.

    dist(p, q, /)
        Return the Euclidean distance between two points p and q.

        The points should be specified as sequences (or iterables) of
        coordinates.  Both inputs must have the same dimension.

        Roughly equivalent to:
            sqrt(sum((px - qx) ** 2.0 for px, qx in zip(p, q)))

    erf(x, /)
        Error function at x.

    erfc(x, /)
        Complementary error function at x.

    exp(x, /)
        Return e raised to the power of x.

    exp2(x, /)
        Return 2 raised to the power of x.

    expm1(x, /)
        Return exp(x)-1.

        This function avoids the loss of precision involved in the direct evaluation of exp(x)-1 for small x.

    fabs(x, /)
        Return the absolute value of the float x.

    factorial(n, /)
        Find n!.

        Raise a ValueError if x is negative or non-integral.

    floor(x, /)
        Return the floor of x as an Integral.

        This is the largest integer <= x.

    fmod(x, y, /)
        Return fmod(x, y), according to platform C.

        x % y may differ.

    frexp(x, /)
        Return the mantissa and exponent of x, as pair (m, e).

        m is a float and e is an int, such that x = m * 2.**e.
        If x is 0, m and e are both 0.  Else 0.5 <= abs(m) < 1.0.

    fsum(seq, /)
        Return an accurate floating point sum of values in the iterable seq.

        Assumes IEEE-754 floating point arithmetic.

    gamma(x, /)
        Gamma function at x.

    gcd(*integers)
        Greatest Common Divisor.

    hypot(...)
        hypot(*coordinates) -> value

        Multidimensional Euclidean distance from the origin to a point.

        Roughly equivalent to:
            sqrt(sum(x**2 for x in coordinates))

        For a two dimensional point (x, y), gives the hypotenuse
        using the Pythagorean theorem:  sqrt(x*x + y*y).

        For example, the hypotenuse of a 3/4/5 right triangle is:

            >>> hypot(3.0, 4.0)
            5.0

    isclose(a, b, *, rel_tol=1e-09, abs_tol=0.0)
        Determine whether two floating point numbers are close in value.

          rel_tol
            maximum difference for being considered "close", relative to the
            magnitude of the input values
          abs_tol
            maximum difference for being considered "close", regardless of the
            magnitude of the input values

        Return True if a is close in value to b, and False otherwise.

        For the values to be considered close, the difference between them
        must be smaller than at least one of the tolerances.

        -inf, inf and NaN behave similarly to the IEEE 754 Standard.  That
        is, NaN is not close to anything, even itself.  inf and -inf are
        only close to themselves.

    isfinite(x, /)
        Return True if x is neither an infinity nor a NaN, and False otherwise.

    isinf(x, /)
        Return True if x is a positive or negative infinity, and False otherwise.

    isnan(x, /)
        Return True if x is a NaN (not a number), and False otherwise.

    isqrt(n, /)
        Return the integer part of the square root of the input.

    lcm(*integers)
        Least Common Multiple.

    ldexp(x, i, /)
        Return x * (2**i).

        This is essentially the inverse of frexp().

    lgamma(x, /)
        Natural logarithm of absolute value of Gamma function at x.

    log(...)
        log(x, [base=math.e])
        Return the logarithm of x to the given base.

        If the base not specified, returns the natural logarithm (base e) of x.

    log10(x, /)
        Return the base 10 logarithm of x.

    log1p(x, /)
        Return the natural logarithm of 1+x (base e).

        The result is computed in a way which is accurate for x near zero.

    log2(x, /)
        Return the base 2 logarithm of x.

    modf(x, /)
        Return the fractional and integer parts of x.

        Both results carry the sign of x and are floats.

    nextafter(x, y, /)
        Return the next floating-point value after x towards y.

    perm(n, k=None, /)
        Number of ways to choose k items from n items without repetition and with order.

        Evaluates to n! / (n - k)! when k <= n and evaluates
        to zero when k > n.

        If k is not specified or is None, then k defaults to n
        and the function returns n!.

        Raises TypeError if either of the arguments are not integers.
        Raises ValueError if either of the arguments are negative.

    pow(x, y, /)
        Return x**y (x to the power of y).

    prod(iterable, /, *, start=1)
        Calculate the product of all the elements in the input iterable.

        The default start value for the product is 1.

        When the iterable is empty, return the start value.  This function is
        intended specifically for use with numeric values and may reject
        non-numeric types.

    radians(x, /)
        Convert angle x from degrees to radians.

    remainder(x, y, /)
        Difference between x and the closest integer multiple of y.

        Return x - n*y where n*y is the closest integer multiple of y.
        In the case where x is exactly halfway between two multiples of
        y, the nearest even value of n is used. The result is always exact.

    sin(x, /)
        Return the sine of x (measured in radians).

    sinh(x, /)
        Return the hyperbolic sine of x.

    sqrt(x, /)
        Return the square root of x.

    tan(x, /)
        Return the tangent of x (measured in radians).

    tanh(x, /)
        Return the hyperbolic tangent of x.

    trunc(x, /)
        Truncates the Real x to the nearest Integral toward 0.

        Uses the __trunc__ magic method.

    ulp(x, /)
        Return the value of the least significant bit of the float x.

DATA
    e = 2.718281828459045
    inf = inf
    nan = nan
    pi = 3.141592653589793
    tau = 6.283185307179586

FILE
    (built-in)

In [42]:
a = math.sqrt(a)
print(a, type(a), id(a))

1.6548754598234365 <class 'float'> 1606810232944

Control flow statements.

In [43]:
a = 4

A simple if statement.

In [10]:
a = 2
if a==1:
        print('The value of a is 1')
        print('c')
print("b")

b

if -else statement

In [11]:
a = 3
if a==2:
    print('The value of a is 2')
else:
    print("End")

End

elif

In [100]:
a = 7
if a==1:
    print("A is 1")
elif a==2:
    print("a is 2")
elif a==3:
    print("a is 3")
elif a==4:
    print("a is 4")
elif a==5:
    print("a is 5")
elif a==6:
    print("a is 6")
elif a==7:
    print("a is 7")
else:
    print('End')

a is 7

Nested - if statement

In [12]:
a = 6
if type(a)== int:
    a = 7
    if a==1:
        print("A is 1")
    elif a==2:
        print("a is 2")
    elif a==3:
        print("a is 3")
    elif a==4:
        print("a is 4")
    elif a==5:
        print("a is 5")
    elif a==6:
        print("a is 6")
    elif a==7:
        print("a is 7")
    else:
        print('End')

In [102]:
a = 5.0
if type(a) is int:
    print(' a is an integer')
    if a==1:
        print("A is 1")
    elif a==2:
        print("a is 2")
    elif a==3:
        print("a is 3")
    elif a==4:
        print("a is 4")
    elif a==5:
        print("a is 5")
    elif a==6:
        print("a is 6")
    elif a==7:
        print("a is 7")
    else:
        print('End')
else:
    print('finish')

finish

A match statement takes an expression and compares its value to successive patterns given as one or more case blocks. The usage is more similar to pattern matching in languages like Rust or Haskell than a switch statement in C or C++. Only the first pattern that matches gets executed. It is also possible to extract components (sequence elements or object attributes) from the value into variables.

match variable_name:

   case 'pattern 1' : statement 1

   case 'pattern 2' : statement 2

   
   case 'pattern n' : statement n

In [103]:
def weekday(n):
   match n:
      case 0: return "Monday"
      case 1: return "Tuesday"
      case 2: return "Wednesday"
      case 3: return "Thursday"
      case 4: return "Friday"
      case 5: return "Saturday"
      case 6: return "Sunday"
      case _: return "Invalid day number"
print (weekday(3))
print (weekday(6))
print (weekday(7))

Thursday
Sunday
Invalid day number

for loop

In [13]:
a = [1,2,3,4,5,6,6,4,5,3,434]
print(len(a))
for i in a:
    print(i)

11
1
2
3
4
5
6
6
4
5
3
434

In [55]:
for i in range(5):
    print(i)

0
1
2
3
4

break, pass and continue statements.

In [14]:
for i in range(5):
    print(i)
    if (i==2):
        break
    print(i,i)

0
0 0
1
1 1
2

In [15]:
for i in range(5):
    print(i)
    if (i==2):
        continue
    print(i, i)

0
0 0
1
1 1
2
3
3 3
4
4 4

In [64]:
for i in range(5):
    print(i)
    if (i==2):
        pass
    print(i, i)

0
0 0
1
1 1
2
2 2
3
3 3
4
4 4

In [18]:
for i in range(5):
    pass

While loop

infinite loop

In [107]:
# a = 100
# while type(a) == int:
#     print('hai')   
#     print(a, type(a))

finite loop

In [19]:
a = 100
while type(a) == int:
    print('hai')
    a = a/2
    print(a, type(a))

hai
50.0 <class 'float'>

Functions

In [20]:
def greet():
    print("welcome")

greet()

welcome

In [72]:
def addision(a,b):
    return a+b
addision(3,4)

7

In [22]:
def addision(a=1,b=0):
    return a+b
print(addision(3,4))
print(addision())
print(addision(4,))
# print(addision(,7))

7
1
4

Keyword arguments

In [76]:
def sub(a, b = 0):
    return a-b

print(sub(a = 3,b=4))

-1